/* font.css */

/* @font-face {
    font-family: 'MyFont';
    src: url('./fonts/MerriweatherSans-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-size: small;
} */


@font-face {
    font-family: 'MyFont';
    src: url('./fonts/MYRIADPRO-BOLD.OTF') format('OTF');
    font-style: normal;
    font-size: small;
}

/* @font-face {
    font-family: 'MyFont';
    src: url('fonts/MyFont-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
} */
